{:kotoba.app/id "cloud.itonami.isic-2310", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibrkboj6kr5ng56q2g3rbrlpr4bhj6h2flxox6wsdveue3w2i5agu", :kotoba.app/embed-url "ipfs://bafkreibrkboj6kr5ng56q2g3rbrlpr4bhj6h2flxox6wsdveue3w2i5agu", :published {:archive "https://kotobase.net/ipfs/bafkreibrkboj6kr5ng56q2g3rbrlpr4bhj6h2flxox6wsdveue3w2i5agu", :size 72714, :put-status 201, :get-status 200, :at "2026-08-15T13:37:17.496Z"}}
